<div class="p-card p-fluid facility-detail-card">
    <h2 class="p-text-center">Facility Details</h2>
    <div class="p-grid p-mt-4">
      <div class="p-col-12 p-md-6">
        <p><strong>Facility Name:</strong> {{ facilityData.name }}</p>
      </div>
      <div class="p-col-12 p-md-6">
        <p><strong>Type:</strong> {{ facilityData.type }}</p>
      </div>
      <div class="p-col-12 p-md-6">
        <p><strong>Email:</strong> {{ facilityData.email }}</p>
      </div>
      <div class="p-col-12 p-md-6">
        <p><strong>City:</strong> {{ facilityData.city }}</p>
      </div>
      <div class="p-col-12 p-md-6">
        <p><strong>Country:</strong> {{ facilityData.country }}</p>
      </div>
      <div class="p-col-12 p-md-6">
        <p><strong>Created Date:</strong> {{ facilityData.createdDate }}</p>
      </div>
    </div>
  </div>
  